{% extends "base.html" %}

{% block title %}
Create User
{% endblock %}

{% block content %}

<div class="container">

    <h1>Create User</h1>

    <form method="POST">

        <div>
            <label>Name</label>

            <input type="text" name="name" required>
        </div>

        <br>

        <div>
            <label>Email</label>

            <input type="email" name="email" required>
        </div>

        <br>

        <button type="submit">
            Create User
        </button>
        <a href="{{ url_for('web.users') }}" class="button">
            Cancel
        </a>
    </form>

</div>

{% endblock %}